<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <!--Header NavBar-->
    <app-header-navbar></app-header-navbar>


    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <!--Left Menu -->
          <app-left-navbar></app-left-navbar>
          <div class="pcoded-content">
              <div class="pcoded-inner-content">
                      <div class="main-body">
                          <!-- Dashbord -->
                          <!-- <app-dashboard></app-dashboard> -->
                          <app-infopanel-twt-credential *ngIf="!twitterConfigured"></app-infopanel-twt-credential>
                          <div id="styleSelector"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <!--END **********************-->
  </div>
</div>
