<div class="page-wrapper">
  <div class="page-header card ">
    <div class="row align-items-end outer-ellipsis">
        <div class="col-lg-8 icon-list-demo">
            <div class="page-header-title ">
                <i class="ti-wand bg-c-blue"></i>
                <div class="d-inline ">
                    <h4>Twitter Settings</h4>
                    <span class="outer-ellipsis">Configure your twitter API. <b>Setup Now</b></span>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

<div class="modal fade modal-icon show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Themify Icons</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="icon-list-demo">
                          <i id="icon" class="ti-arrow-up"></i>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="form-group">
                          Name
                          <input class="form-control" type="text" id="name" value="fa fa-wpbeginner">
                      </div>
                      <div class="form-group">
                          Code
                          <input class="form-control" type="text" id="code" value="<i class=&quot;fa fa-wpbeginner&quot;></i>">
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

      </div>
  </div>
</div>

<script type="text/javascript" src="./../../../assets/pages/icon-modal.js"></script>
