<div class="page-wrapper">
  <div class="page-header card ">
    <div class="row align-items-end">
        <div class="col-lg-8 icon-list-demo">
            <div class="page-header-title">
                <i class="ti-wand bg-c-blue"></i>
                <div class="d-inline outer-ellipsis">
                    <h4>Twitter Settings</h4>
                    <span >Configure your twitter API. <b>Setup Now</b></span>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>


<!-- Panel Settings -->
<div class="modal fade modal-icon show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <app-twitter-settings></app-twitter-settings>
  </div>
</div>



